<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="max-width: 1200px;display: flex;justify-content: center;">
    <form action="cominsert" method="post" style="display: flex;flex-wrap: wrap; width: 150px;">
        <label for="img_input">上傳圖片:</label>
        <img src="" id="demo" height="200">
        <input type="file" id="imginp" accept="image/*">
        
        <label for="introduce">請輸入商品介紹</label>
        <input type="text" id="introduce">
        <label for="money">請輸入商品價格</label>
        <input type="text" id="money">
        <label for="Q">請輸入商品數量</label>
        <input type="text" id="Q">
        <input type="submit" value="GO">
    </form>
</body>
<script>
    document.getElementById("imginp").addEventListener('change',function(e){
        let file = e.target.files[0]; 
        console.log(e.target.files[0]);
        var reader = new FileReader();

        reader.readAsDataURL(file); // 读取文件

        // 渲染文件
        reader.onload = function(arg) {
            document.getElementById("demo").src = arg.target.result;
        }
    })
</script>
</html>